@use "./styles/abstracts" as *;

.no_scroll {
	overflow: hidden;
}

.header {
	position: absolute;
	width: 100%;
	color: $black;
	z-index: 3;

	&.dark .headerNav nav > ul.menu {
		> li {
			a {
				color: $white;
				user-select: none;
				transition: 0.2s linear;

				&:hover {
					color: #da6b07;
				}
			}

			ul.submenu {
				backdrop-filter: blur(30px);
				-webkit-backdrop-filter: blur(30px);
			}
		}
	}

	.headerNav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		padding: 30px 0;

		@include respond-to("tablet-landscape") {
			justify-content: flex-start;
		}

		// @include respond-to("mobile-landscape") {
		// 	padding: 20px 0;
		// }

		.logo {
			@include respond-to("tablet-landscape") {
				order: 0;
				margin-left: 20px;
			}
			@include respond-to("mobile-landscape") {
				width: 140px;
				margin-left: 0;
			}
			@include respond-to(360px) {
				width: 100px;
			}
		}

		.spacer {
			display: none;
			@include respond-to("tablet-landscape") {
				order: 1;
				display: flex;
				flex-grow: 5;
			}
		}

		/* CTA Button */
		.menu_cta {
			display: flex;
			appearance: none;
			width: fit-content;
			padding: toem(15px) toem(32px);
			font-size: toem(18px);
			border-radius: 9999px;
			line-height: 1;
			text-align: center;
			font-weight: 500;
			transition: background-color 0.25s ease;
			color: $white;
			background-color: $dark-orange;
			&:hover {
				background-color: $orange;
			}

			@include respond-to("tablet-landscape") {
				order: 2;
			}
			@include respond-to("mobile-landscape") {
				font-size: 14px;
			}
			@include respond-to("mobile") {
				font-size: 12px;
				padding: 8px 12px;
			}
		}

		> label {
			@include respond-to("tablet-landscape") {
				order: 3;
			}
		}

		nav > ul.menu {
			display: flex;

			> li {
				position: relative;

				a {
					padding: 10px 30px;
					font-size: 18px;
					user-select: none;
					transition: 0.2s linear;

					&:hover {
						color: #da6b07;
					}

					@include respond-to("laptop") {
						padding: 10px 15px;
					}

					@include respond-to("tablet-landscape") {
						display: block;
					}
				}

				ul.submenu {
					display: none;
					position: absolute;
					top: calc(100% + 10px);
					min-width: 300px;
					background-color: $blur-bg;
					backdrop-filter: $blur;
					-webkit-backdrop-filter: $blur;
					border-radius: $br;
					padding: 10px 0;

					@include respond-to("tablet-landscape") {
						position: static;
						display: block;
						min-width: unset;
					}

					li a {
						display: block;
						padding-top: 8px;
						padding-bottom: 8px;

						@include respond-to("tablet-landscape") {
							font-size: 16px;
						}
					}
				}

				&:hover ul {
					display: block;
				}
			}

			@include respond-to("tablet-landscape") {
				position: absolute;
				right: 35px;
				top: 110px;
				display: none;
				opacity: 0;
				width: 50%;
				width: fit-content;
				height: auto;
				padding: 20px;
				border-radius: $br;
				backdrop-filter: blur(60px);
				-webkit-backdrop-filter: blur(60px);
				z-index: 9;
			}

			@include respond-to("mobile-landscape") {
				top: 80px;
				right: 20px;
				//width: calc(100% - 40px);
			}
		}

		.responsiveMenuToggleInput {
			display: none;

			@include respond-to("tablet-landscape") {
				&:checked ~ nav .menu {
					display: block;
					opacity: 1;
				}
			}
		}

		.responsiveMenuToggleLabel {
			display: none;

			@include respond-to("tablet-landscape") {
				display: block;
				width: 60px;
				height: 60px;
				overflow: hidden;
				position: relative;
				cursor: pointer;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				z-index: 99;
			}

			&:before {
				content: "\2261";
				display: block;
				width: 100%;
				height: 100%;
				font-family: "Sohne", sans-serif;
				font-size: 40px;
				line-height: 60px;
				text-align: center;
				color: $white;
			}

			&:hover::before {
				color: $dark-orange;
			}

			&.light {
				&:before {
					color: $black;
				}
			}

			@include respond-to("mobile-landscape") {
				width: 30px;
				height: 40px;

				&:before {
					line-height: 38px;
				}
			}

			@include respond-to("mobile") {
				width: 30px;
				height: 40px;

				&:before {
					line-height: 35px;
				}
			}
		}
	}
}

.sticky {
	height: 100px;
	@include respond-to("mobile-landscape", max) {
		height: 64px;
	}
}
