@use "./styles/abstracts" as *;

.cta__main {
	position: relative;
	overflow: clip;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 780px;

	@include respond-to("tablet-landscape") {
		min-height: 600px;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@include respond-to("tablet") {
		min-height: 500px;
		padding-top: 80px;
		padding-bottom: 80px;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, calc(-50% + 9vw));
		transform-origin: top center;
		aspect-ratio: 1/1;
		border-radius: 100%;
		width: 100%;
	}

	&::before {
		min-width: 815px;
		max-width: 55%;

		@include respond-to("tablet") {
			min-width: 611px;
		}
	}

	&::after {
		min-width: 650px;
		max-width: 45%;

		@include respond-to("tablet") {
			min-width: 488px;
		}
	}

	.wrapper {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	img {
		margin-bottom: 60px;
	}

	h2,
	p {
		color: white;
	}

	h2 {
		font-size: clamp(1rem, 4vw + 1.25rem, 3rem);
		line-height: 1.2;
	}

	p {
		max-width: 560px;
		margin-block: 0 50px;
		font-size: 18px;
		font-weight: 300;
	}
}

.primary {
	background: linear-gradient(to bottom, #da6b07 0%, #e3600c 150%);

	&::before {
		background: linear-gradient(to top, #ea730c 0%, #df660a 65%, #e1620c 100%);
	}

	&::after {
		background: linear-gradient(
			to bottom,
			#ea730c 0%,
			#df660a 65%,
			#e1620c 100%
		);
	}
}

.secondary {
	background: #fbf2e3;

	&::before {
		background: linear-gradient(to top, #fbf2e3 0%, rgba(#ffffff, 0.4) 100%);
	}

	&::after {
		background: linear-gradient(to bottom, #fbf2e3 0%, rgba(#ffffff, 0.4) 100%);
	}

	h2,
	p {
		color: #000;
	}
}

.tertiary {
	background: #fcf6ec;
	min-height: auto;
	padding-bottom: clamp(80px, 10vw, 140px);

	&::before,
	&::after {
		display: none;
	}

	.wrapper {
		max-width: 600px;
	}

	h2,
	h3,
	p {
		color: #000;
	}
}
