@use "./styles/abstracts" as *;

.section_Hero {
	background: linear-gradient(180deg, #fcf6ec, white);
	padding-top: 200px;
	padding-bottom: 150px;
	height: auto;
	min-height: 1000px;

	@include respond-to("laptop") {
		min-height: 800px;
	}

	@include respond-to("tablet-landscape") {
		height: 100%;
		padding-top: 150px;
		padding-bottom: 80px;
		position: relative;
	}

	@include respond-to("tablet") {
		min-height: auto;
		padding-top: 150px;
		padding-bottom: 40px;
	}

	// &::before {
	// 	content: "";

	// 	@include respond-to("tablet") {
	// 		width: 100%;
	// 		height: 100%;
	// 		background: linear-gradient(
	// 			90deg,
	// 			rgba(0, 0, 0, 0.5) 0%,
	// 			rgba(0, 0, 0, 0.3) 60%,
	// 			rgba(0, 0, 0, 0) 100%
	// 		);
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		z-index: 1;
	// 	}

	// 	@include respond-to("mobile-landscape") {
	// 		background: linear-gradient(
	// 			90deg,
	// 			rgba(0, 0, 0, 0.8) 0%,
	// 			rgba(0, 0, 0, 0.5) 60%,
	// 			rgba(0, 0, 0, 0.2) 100%
	// 		);
	// 	}
	// }

	h1,
	blockquote,
	span {
		color: $black;
	}

	.container_Hero {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 100px;
		height: 100%;

		@include respond-to("tablet-landscape") {
			position: relative;
			z-index: 2;
			gap: 40px;
		}

		.heroContent {
			height: 100%;
			//width: 100%;
			display: flex;
			flex-direction: column;
			gap: 30px;
			flex-grow: 0;
			flex-shrink: 1;

			@include respond-to("laptop") {
				max-width: 300px;
			}

			// @include respond-to("tablet") {
			// 	max-width: 65%;
			// 	//gap: 60px;
			// }

			// @include respond-to("mobile-landscape") {
			// 	max-width: 80%;
			// }

			// @include respond-to("mobile") {
			// 	max-width: 100%;
			// }

			h1 {
				font-size: 52px;
				margin: 0;
				width: 500px;

				span {
					margin: 0;
					margin-bottom: 40px;
					display: block;
					color: #e45f0c;
					font-family: "Sohne", Arial, sans-serif;
					font-size: 24px;
					font-style: normal;
					font-weight: 500;
					line-height: 26px; /* 108.333% */
				}

				b {
					color: #e45f0c;
				}

				@include respond-to("laptop") {
					width: auto;
				}

				@include respond-to("tablet") {
					font-size: 36px;
				}
			}

			p {
				max-width: 380px;
				span {
					font-family: "PP Editorial New", Times, serif;
					font-size: inherit;
					font-style: italic;
					display: block;
					margin-top: 32px;
				}

				@include respond-to("laptop") {
					br {
						display: none;
					}
				}
			}

			blockquote {
				font-size: 24px;
				line-height: 1.25em;
				padding-top: 80px;

				@include respond-to("tablet") {
					font-size: 20px;
					padding-top: 20px;
				}
			}

			blockquote span {
				display: block;
				font-size: 18px;
				line-height: 1.25em;
				margin-top: 20px;

				@include respond-to("tablet") {
					font-size: 16px;
				}
			}
		}

		.heroImage {
			width: 100%;
			max-width: 860px;
			height: fit-content;
			flex-shrink: 1;

			img {
				width: 100%;
				display: block;
				object-fit: cover;
				border-radius: 10px;
			}

			@include respond-to("mobile-landscape") {
				// position: absolute;
				// top: 50px;
				// right: -220px;
				// width: 400px;
				// height: 400px;
				display: none;
			}

			@include respond-to("mobile") {
				display: none;
			}
		}
	}
}
