@use "./styles/abstracts" as *;

.section_sideBySide {
	padding-top: 100px;
	padding-bottom: 100px;

	@include respond-to("tablet") {
		padding-left: 30px;
		padding-right: 30px;
	}

	@include respond-to("mobile-landscape") {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@include respond-to("mobile") {
		padding-left: 15px;
		padding-right: 15px;
	}

	&.gradient {
		background: #ffca8b;
		background: linear-gradient(180deg, #ffe6c7 0%, #ffca8b 100%);
	}

	.columnContainer {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 100px;

		@include respond-to("tablet-landscape") {
			gap: 60px;
		}

		@include respond-to("tablet") {
			flex-direction: column;
			gap: 50px;
		}

		// @include respond-to("mobile-landscape") {
		// 	flex-direction: column;
		// }

		.column {
			flex: 1 0 40%;

			img {
				border-radius: $br;
			}

			big {
				font-size: 60px;

				@include respond-to("tablet-landscape") {
					font-size: 48px;
				}

				@include respond-to("tablet") {
					font-size: 36px;
				}

				@include respond-to("mobile") {
					font-size: 28px;
				}
			}

			h4 {
				line-height: 1.5em;
				margin-bottom: 10px;
				font-weight: 500;
			}

			p {
				margin-bottom: 40px;
			}

			ul {
				font-size: 18px;
				font-size: clamp(1.125rem, 1vw + 1rem, 1.25rem);
				color: $black;
				line-height: 1.5;
				text-wrap: pretty;
				list-style-type: disc;
				padding-left: 30px;
				margin-bottom: 40px;
			}

			li {
				margin: 0.5em 0;
			}
		}
	}
}
