@use "./styles/abstracts" as *;

.section_sideBySide {
	padding-top: 100px;
	padding-bottom: 100px;

	@include respond-to("tablet") {
		padding-left: 30px;
		padding-right: 30px;
	}

	@include respond-to("mobile-landscape") {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@include respond-to("mobile") {
		padding-left: 15px;
		padding-right: 15px;
	}

	&.gradient {
		background: #ffca8b;
		background: linear-gradient(180deg, #ffe6c7 0%, #ffca8b 100%);
	}

	&.shape {
		background-size: auto, auto 90%, auto;
		background-repeat: no-repeat;
		background-position: 100%, 25% 50%, 100%;
		padding-top: 150px;
		padding-bottom: 150px;

		@include respond-to("tablet") {
			padding-top: 100px;
			padding-bottom: 30px;
		}

		&.circle {
			background-size: auto, auto 90%, auto;
			background-position: 100%, calc(50% - 390px) 50%, 100%;

			@include respond-to("tablet") {
				background-size: auto, auto 60%, auto;
				background-position: 100%, 50% 5%, 100%;
			}

			@include respond-to("mobile") {
				background-size: auto, auto 40%, auto;
			}
		}

		&.loop {
			background-size: auto, 50% auto, auto;
			background-position: 100%, bottom 0 right 100%, 100%;


			@include respond-to("tablet") {
				background-size: auto, 130%, auto;
				background-position: 100%, 50% 5%, 100%;
			}
		}

		&.lane {
			background-size: auto, 120%, auto;
			background-position: 100%, top 70% left 90%, 100%;


			@include respond-to("laptop") {
				background-size: auto, cover, auto;
				background-position: 100%, top -10% left 100%, 100%;
			}
		}
	}

	.columnContainer {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 100px;

		@include respond-to("tablet-landscape") {
			gap: 60px;
		}

		@include respond-to("tablet") {
			flex-direction: column;
			gap: 50px;
		}

		// @include respond-to("mobile-landscape") {
		// 	flex-direction: column;
		// }

		.column {
			flex: 1 0 40%;

			img {
				border-radius: $br;
				margin-left: auto;
				margin-right: auto;
			}

			big {
				font-size: 60px;

				@include respond-to("tablet-landscape") {
					font-size: 48px;
				}

				@include respond-to("tablet") {
					font-size: 36px;
				}

				@include respond-to("mobile") {
					font-size: 28px;
				}
			}

			h4 {
				line-height: 1.5em;
			}

			p {
				margin-bottom: 40px;
			}

			ul {
				font-size: 18px;
				font-size: clamp(1.125rem, 1vw + 1rem, 1.25rem);
				color: $black;
				line-height: 1.5;
				text-wrap: pretty;
				list-style-type: disc;
				padding-left: 30px;
				margin-bottom: 40px;
			}

			li {
				margin: 0.5em 0;
			}
		}
	}
}
