/* Font imports */

@font-face {
	font-family: "PP Editorial New";
	src: local("PP Editorial New Italic"), local("PPEditorialNew-Italic"),
		url("/fonts/PPEditorialNew-Italic.woff2") format("woff2"),
		url("/fonts/PPEditorialNew-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Buch"), local("soehne-buch"),
		url("/fonts/soehne-buch.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Buch Kursiv"), local("soehne-buch-kursiv"),
		url("/fonts/soehne-buch-kursiv.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Halbfett"), local("soehne-halbfett"),
		url("/fonts/soehne-halbfett.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Halbfett Kursiv"), local("soehne-halbfett-kursiv"),
		url("/fonts/soehne-halbfett-kursiv.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* Bonus weights */

@font-face {
	font-family: "Sohne";
	src: local("Sohne Extraleicht"), local("soehne-extraleicht"),
		url("/fonts/soehne-extraleicht.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Extraleicht Kursiv"), local("soehne-extraleicht-kursiv"),
		url("/fonts/soehne-extraleicht-kursiv.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Leicht"), local("soehne-leicht"),
		url("/fonts/soehne-leicht.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Leicht Kursiv"), local("soehne-leicht-kursiv"),
		url("/fonts/soehne-leicht-kursiv.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Kraftig"), local("soehne-kraftig"),
		url("/fonts/soehne-kraftig.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Kraftig Kursiv"), local("soehne-kraftig-kursiv"),
		url("/fonts/soehne-kraftig-kursiv.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Dreiviertelfett"), local("soehne-dreiviertelfett"),
		url("/fonts/soehne-dreiviertelfett.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Dreiviertelfett Kursiv"), local("soehne-dreiviertelfett-kursiv"),
		url("/fonts/soehne-dreiviertelfett-kursiv.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Fett"), local("soehne-fett"),
		url("/fonts/soehne-fett.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Fett Kursiv"), local("soehne-fett-kursiv"),
		url("/fonts/soehne-fett-kursiv.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Extrafett"), local("soehne-extrafett"),
		url("/fonts/soehne-extrafett.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Sohne";
	src: local("Sohne Extrafett Kursiv"), local("soehne-extrafett-kursiv"),
		url("/fonts/soehne-extrafett-kursiv.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}