/**************/
/* Variables */
/************/

// Colors
$black: #020E0A;
$sand: #F9ECD5;
$ivory: #FDF9F1;
$white: #ffffff;

$orange: #FF8B00;
$yellow: #FFC11D;

$green: #16B17D;
$dark-orange: #E45F0C;
$blue: #2F90EA;
$pink: #FF7D7A;

// Borders
$br: 10px;

// Widths
$max-width-large: 1440px;
$max-width: 1216px;

// Box Shadows
$container-shadow: 0 12px 24px -4px rgba(16, 24, 40, 0.04),
	2px 4px 12px -2px rgba(16, 24, 40, 0.02);

// Transitions
$linear: 0.2s linear;

// Section Gaps
$section-gap-sml: 96px;
$section-gap-med: 140px;
$section-gap-lrg: 192px;

.no-select {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}