/**************/
/* Variables */
/************/

// Colors
$black: #020e0a;
$dark-gray: #313131;
$gray: #454545;
$sand: #f9ecd5;
$ivory: #fdf9f1;
$white: #ffffff;

$orange: #ff8b00;
$yellow: #ffc11d;

$green: #16b17d;
$dark-orange: #e45f0c;
$blue: #2f90ea;
$pink: #ff7d7a;

$primary: #ff8b00;
$button--primary: #da6b07 !default;

$gradient-orange: linear-gradient(180deg, #da6b07 0%, #e45f0c 100%);

// Borders
$br: 10px;

// Background Blur
$blur: blur(100px) contrast(90%) saturate(120%);
$blur-bg: rgba(0, 0, 0, 0.05);
$blur-bg-darken: rgba(0, 0, 0, 0.3);

// Widths
$max-width-largest: 1520px;
$max-width-large: 1440px;
$max-width: 1216px;

// Box Shadows
$container-shadow: 0 12px 24px -4px rgba(16, 24, 40, 0.04),
	2px 4px 12px -2px rgba(16, 24, 40, 0.02);

// Text Shadows
$text-shadow: 0px 0px 20px rgba(2,14,10,.7), 1px 1px 3px rgba(2,14,10,.8);

// Transitions
$linear: 0.2s linear;

// Section Gaps
$section-gap-sml: 96px;
$section-gap-med: 140px;
$section-gap-lrg: 192px;

.no-select {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}
