@use "./styles/abstracts" as *;

.section_BackgroundContainer {
	width: 100%;
	padding-top: 0 !important;

	&.providers {
		@include respond-to("1739px") {
			background-position: calc(100% + 250px) 50% !important;
		}
		@include respond-to("1700px") {
			background-position: calc(100% + 250px) 90% !important;
		}
		@include respond-to("1579px") {
			background-position: calc(100% + 250px) 50% !important;
		}
		@include respond-to("1559px") {
			background-position: calc(100% + 250px) 80% !important;
		}
		@include respond-to("1399px") {
			background-position: calc(100% + 250px) 60% !important;
		}
		@include respond-to("1110px") {
			background-position: calc(100% + 250px) 140% !important;
		}
		@include respond-to("919px") {
			background-position: calc(100% + 250px) 60% !important;
		}
		@include respond-to("900px") {
			background-position: calc(100% + 250px) 130% !important;
		}
		@include respond-to("mobile") {
			background-position: calc(100% + 350px) 100% !important;
		}
		@include respond-to("370px") {
			background-position: calc(100% + 380px) 100% !important;
		}
	}
}
