@use "./styles/abstracts" as *;

@keyframes fadein {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

.scrollJacking {
	padding: 0;

	section {
		height: 100vh;
		position: sticky;
		top: 0;
		display: grid;
		place-items: center;
		background: linear-gradient(to bottom, #ffe6c7 0%, #ffffff 100%);
	}

	div {
		height: 100vh;
		display: grid;
		place-items: center;
		animation: fadein;
		animation-timeline: view(block 70vh 50vh);
		animation-fill-mode: both;
		animation-duration: 1ms; /* Firefox requires this to apply the animation */
		animation-timing-function: linear;
		text-align: center;
		//mask: url(#fade);

		// Make first element appear quicker
		&:first-of-type {
			margin-top: -40vh;
		}

		h2 {
			padding-inline: 10vw;
			font-size: 48px;
		}
	}
}
