@use "./styles/abstracts" as *;

.section_404 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80svh;
	gap: 40px;
	h1 {
		color: $dark-orange;
		font-family: "Sohne", Arial, sans-serif;
		font-size: 100px;
		font-style: normal;
		font-weight: 500;
		line-height: 57.6px; /* 92.903% */
		margin-bottom: 0;
	}

	a {
		border: 1px solid black;
		border-radius: 100px;
		padding: 10px 20px;
		transition: all 0.2s linear;

		&:hover {
			border: 1px solid $dark-orange;
			color: $dark-orange;
		}
	}
}
