@use "./styles/abstracts" as *;

.section_Testimonials {
	width: 100%;
	padding: 10vw 20px;

	h2 {
		text-align: center;
		color: #000;
		font-family: "Sohne", Arial, sans-serif;
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;

		span {
			color: inherit;
			font-family: "PP Editorial New", Times, serif;
			font-size: inherit;
			font-style: italic;
			font-weight: inherit;
			line-height: inherit;
		}
	}

	.container_Testimonials {
		max-width: 1560px;
		margin: 0 auto;
		padding: 60px 90px;
		border-radius: 10px;

		/* New styles */
		display: flex;
		align-items: center;
		gap: 100px;

		@include respond-to("mobile-landscape") {
			padding: 45px;
		}

		@include respond-to("mobile") {
			padding: 30px 20px;
		}

		@include respond-to("tablet-landscape") {
			gap: 60px;
		}

		@include respond-to("tablet") {
			flex-direction: column;
			gap: 40px;
		}

		@include respond-to("mobile") {
			gap: 20px;
		}

		/* End new styles */

		&.yellow {
			background: url("../../public/backgrounds/t-stripe.svg") no-repeat 120px 0,
				#ffce4c;

			@include respond-to("tablet-landscape") {
				background: url("../../public/backgrounds/t-stripe.svg") no-repeat 70px
						0,
					#ffce4c;
			}

			@include respond-to("tablet") {
				background: url("../../public/backgrounds/t-stripe.svg") no-repeat 70px
						0,
					#ffce4c;
			}

			.image_Testimonials {
				background: linear-gradient(0deg, #ffc62d 0%, #edac00 100%);
			}
		}

		&.orange {
			background: url("../../public/backgrounds/t-stripe-2.svg") no-repeat 120px
					0,
				#fd9e2c;

			@include respond-to("tablet-landscape") {
				background: url("../../public/backgrounds/t-stripe-2.svg") no-repeat
						70px 0,
					#fd9e2c;
			}

			@include respond-to("tablet") {
				background: url("../../public/backgrounds/t-stripe-2.svg") no-repeat
						70px 0,
					#fd9e2c;
			}
		}

		.slideWrapper {
			display: flex;
			align-items: center;
			gap: 100px;
			animation: slideIn 0.4s ease;

			@include respond-to("tablet-landscape") {
				gap: 60px;
			}

			@include respond-to("tablet") {
				flex-direction: column;
				gap: 40px;
			}

			@include respond-to("mobile") {
				gap: 20px;
			}
		}

		@keyframes slideIn {
			from {
				opacity: 0;
				transform: translateX(20px);
			}
			to {
				opacity: 1;
				transform: translateX(0);
			}
		}

		.image_Testimonials {
			flex-shrink: 0;
			max-width: 360px;
			max-height: 360px;
			width: 67vw;
			height: 67vw;
			//width: 100%;
			//height: 100%;
			border-radius: 100%;
			overflow: hidden;

			@include respond-to("tablet-landscape") {
				max-width: 220px;
				max-height: 220px;
			}

			img {
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: center;
			}
		}

		.content_Testimonials {
			flex-grow: 0;
			flex-shrink: 1;
			display: flex;
			flex-direction: column;
			gap: 80px;

			@include respond-to("laptop") {
				gap: 40px;
			}
			h2 {
				color: #20160e;
				font-family: "Sohne", Arial, sans-serif;
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: 140.14%; /* 33.634px */
				text-align: left;
				margin-bottom: 0;
				text-wrap: wrap !important;

				@include respond-to("tablet") {
					text-align: center;
				}
			}
			h3 {
				color: #101828;
				font-family: "Sohne", Arial, sans-serif;
				font-size: 32px;
				font-style: normal;
				font-weight: 400;
				line-height: 42.152px; /* 131.723% */
				margin-bottom: 0;
				text-wrap: wrap !important;

				@include respond-to("tablet") {
					text-align: center;
				}

				@include respond-to("mobile") {
					font-size: 22px;
					line-height: 26px;
				}

				span {
					color: inherit;
					font-family: "PP Editorial New", Times, serif;
					font-size: inherit;
					font-style: italic;
					font-weight: inherit;
					line-height: inherit;
				}
			}

			p {
				color: var(--colors-text-text-primary-900, #101828);
				font-family: "Sohne", Arial, sans-serif;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				margin-bottom: 0;
				text-wrap: wrap !important;

				@include respond-to("tablet") {
					text-align: center;
				}

				@include respond-to("mobile") {
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
	}

	.container_Navigation {
		margin-top: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;

		button {
			background: none;
			border: none;
			font-size: 1.5rem;
			cursor: pointer;
			height: 15px;
			width: 15px;

			&:first-of-type {
				background: url("../../public/icons/left-caret-gray.svg");
				background-repeat: no-repeat;
				background-position: center;
				padding-right: 50px;
			}

			&:last-of-type {
				background: url("../../public/icons/right-caret-gray.svg");
				background-repeat: no-repeat;
				background-position: center;
				padding-left: 50px;
			}
		}
	}

	.dot {
		width: 15px;
		height: 15px;
		background-color: #fdead2;
		border-radius: 50%;
		display: inline-block;
		cursor: pointer;
	}

	.activeDot {
		background-color: #f7941d;
	}

	.subtext_Testimonials {
		display: block;
		width: fit-content;
		margin: 30px auto 0 auto;
		font-family: "PP Editorial New", Times, serif;
		font-size: 16px;
		font-style: italic;
		font-weight: inherit;
		line-height: inherit;
		transition: color 0.2s linear;

		&:hover {
			color: $dark-orange;
		}
	}
}
