@use "./styles/abstracts" as *;

.section_Accordion {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 250px 90px 230px 100px;
	gap: 30px 90px;
	background-color: white;

	@include respond-to("tablet-landscape") {
		padding: 150px 40px 130px 40px;
	}

	@include respond-to("tablet") {
		flex-direction: column;
	}

	@include respond-to("mobile") {
		padding: 100px 20px;
	}

	.container_Heading {
		max-width: 390px;
		min-width: 240px;

		@include respond-to("tablet") {
			text-align: center;
			max-width: unset;
			width: 100%;
		}

		h2 {
			color: #020e0a;
			font-family: "Sohne", Arial, sans-serif;
			font-size: 36px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%; /* 50.4px */
			margin-bottom: 20px;
			text-wrap: wrap;

			span {
				color: inherit;
				font-family: "PP Editorial New", Times, serif;
				font-size: inherit;
				font-style: italic;
				font-weight: inherit;
				line-height: inherit;
			}
		}

		p {
			color: rgba(2, 14, 10, 0.8);
			font-family: "Sohne", Arial, sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 27px; /* 150% */
		}
	}

	.container_Accordion {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 15px;

		.accordion {
			position: relative;
			border-radius: 10px;
			padding: 30px 40px;
			background-color: #ffce4c;
			transition: height 0.2s linear;
			cursor: pointer;

			h3 {
				display: inline-block;
				margin-right: 40px; // so the heading doesn't cross the + icon
				text-wrap: wrap;
				color: #020e0a;
				font-family: "Sohne", Arial, sans-serif;
				font-size: 22px;
				font-style: normal;
				font-weight: 400;
				line-height: 27px; /* 122.727% */
				margin-bottom: 0;
				cursor: inherit;
			}

			.accordion_Content {
				overflow: hidden;
				height: 0;
				transition: height 0.2s lienar;

				p {
					color: rgba(2, 14, 10, 0.6);
					font-family: "Sohne", Arial, sans-serif;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 27px; /* 168.75% */
					margin-top: 18px;
					margin-bottom: 0;
				}
			}

			.plusMinus {
				position: absolute;
				top: 39px;
				right: 35px;
				width: 19px;
				height: 9px;
				background-image: url("../../public/icons/caret-green.svg");
				background-repeat: no-repeat;
				background-size: contain;
				cursor: inherit;
				transition: transform 0.2s linear;
			}

			&.open {
				background-color: #fff9e9;
				.plusMinus {
					transform: rotate(180deg);
				}
			}
		}
	}
}
