@use "./styles/abstracts" as *;

.masonry {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;

	@include respond-to("tablet-landscape") {
		display: block;
		columns: 2;
	}

	@include respond-to("tablet") {
		column-gap: 20px;
	}

	@include respond-to("mobile-landscape") {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		row-gap: 20px;
		columns: unset;
	}

	&__column {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		justify-content: end;

		@include respond-to("tablet-landscape") {
			justify-content: start;
			overflow: hidden;
		}

		&:last-of-type {
			@include respond-to("tablet-landscape") {
				margin-top: 40px;
			}

			@include respond-to("tablet") {
				margin-top: 20px;
			}

			@include respond-to("mobile-landscape") {
				margin-top: unset;
			}
		}

		@include respond-to("tablet") {
			row-gap: 20px;
		}

		@include respond-to("mobile-landscape") {
			display: contents;
		}

		&:nth-of-type(1) {
			.masonry__item {
				&:first-of-type {
					height: 324px;
				}

				&:last-of-type {
					height: 384px;
				}
			}
		}

		&:nth-of-type(2) {
			.masonry__item {
				&:only-of-type {
					height: 500px;
				}
			}
		}

		&:nth-of-type(3) {
			.masonry__item {
				&:only-of-type {
					height: 440px;
				}
			}
		}
	}

	&__item {
		display: grid;
		position: relative;
		overflow: clip;
		border-radius: 10px;
		cursor: pointer;
		transition: all 0.25s ease;
		isolation: isolate;
		background-color: #ffe5c7;

		@include respond-to("masonry-desktop") {
			font-size: 80%;
		}

		@include respond-to("mobile-landscape") {
			height: 450px !important;
		}

		@include respond-to("mobile") {
			height: auto !important;
		}
	}

	.item__content {
		display: flex;
		flex-direction: column;
		justify-content: end;
		height: 100%;
		min-height: fit-content;
		padding: toem(35px);
		grid-area: 1 / 1;

		blockquote,
		p,
		cite {
			color: #101828;
		}

		p {
			margin-top: auto;
			margin-bottom: 0;
			font-size: toem(26px);
			line-height: 140%;
		}

		cite {
			display: block;
			margin-top: 40px;
			font-size: toem(18px);
			line-height: 1.4;
		}
	}

	.item__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		gap: 20px;
	}

	.item__data {
		display: flex;
		flex-direction: column;
		row-gap: 30px;

		p {
			margin: 0;
		}

		strong {
			font-size: toem(12px);
			font-weight: 700;
		}
	}

	img {
		position: relative;
		inset: 0;
		z-index: 0;
		object-fit: cover;
		height: 100%;
		grid-area: 1 / 1;

		@include respond-to("mobile-landscape") {
			width: 100%;
		}

		@include respond-to("mobile-landscape") {
			height: 360px;
		}

		@include respond-to("mobile") {
			height: 510px;
		}
	}
}

.home__masonry {
	padding-bottom: 12vw;
	background: url(../../public/backgrounds/masonry--text.svg) center / cover
		no-repeat;

	.header {
		&:first-of-type {
			margin-right: 40px;
		}
	}
}

.masonry__header {
	display: flex;
	gap: 40px;
	margin-bottom: 3vw !important;

	h2 {
		font-size: 32px;
	}
}
