
@use "./styles/abstracts" as *;

.section_orangeBox {
	padding-top: 60px;
	padding-bottom: 40px;

	.orangeBox {
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: auto 100%;
		width: 100%;
		border-radius: $br;
		padding: 80px 80px 100px 80px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 100px;
		position: relative;

		@include respond-to("tablet-landscape") {
			background-position: -100px bottom;
			gap: 40px;
		}

		@include respond-to("tablet") {
			flex-wrap: nowrap;
			flex-direction: column-reverse;
		}

		@include respond-to("mobile-landscape") {
			background-position: left bottom;
			gap: 20px;
			padding: 40px 40px 60px 40px;
		}

		@include respond-to("mobile") {
			padding: 30px 20px;
		}

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: $gradient-orange;
			border-radius: $br;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		> div {
			z-index: 1;
		}

		.orangeBoxImage img {
			border-radius: $br;
		}

		h1, h2, h3, h4, h5, h6, p, span, a, blockquote {
			color: $white;
		}

		.orangeBoxContent {
			
			&:first-child {
				padding-left: 25%;

				@include respond-to("tablet-landscape") {
					padding-left: 20%;
				}

				@include respond-to("mobile-landscape") {
					padding-left: 0;
				}
			}
		
			h3 {
				margin: 1em 0;
				line-height: 1.3;
			}

			h4 {
				line-height: 1.6;
				text-wrap-style: auto;
			}
		}

	}
}
