@use "tailwindcss";
@use "./styles/utilities.scss" as *;
@use "./styles/variables.scss" as *;

/* Font imports */

@font-face {
	font-family: "Instrument Sans";
	src: local("Instrument Sans Regular"), local("InstrumentSans-Regular"),
		url("/fonts/InstrumentSans-Regular.woff2") format("woff2"),
		url("/fonts/InstrumentSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Instrument Sans";
	src: local("Instrument Sans Italic"), local("InstrumentSans-Italic"),
		url("/fonts/InstrumentSans-Italic.woff2") format("woff2"),
		url("/fonts/InstrumentSans-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Instrument Sans";
	src: local("Instrument Sans Medium"), local("InstrumentSans-Medium"),
		url("/fonts/InstrumentSans-Medium.woff2") format("woff2"),
		url("/fonts/InstrumentSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Instrument Sans";
	src: local("Instrument Sans Medium Italic"),
		local("InstrumentSans-MediumItalic"),
		url("/fonts/InstrumentSans-MediumItalic.woff2") format("woff2"),
		url("/fonts/InstrumentSans-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Instrument Sans";
	src: local("Instrument Sans SemiBold Italic"),
		local("InstrumentSans-SemiBoldItalic"),
		url("/fonts/InstrumentSans-SemiBoldItalic.woff2") format("woff2"),
		url("/fonts/InstrumentSans-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Instrument Sans";
	src: local("Instrument Sans SemiBold"), local("InstrumentSans-SemiBold"),
		url("/fonts/InstrumentSans-SemiBold.woff2") format("woff2"),
		url("/fonts/InstrumentSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Instrument Sans";
	src: local("Instrument Sans Bold"), local("InstrumentSans-Bold"),
		url("/fonts/InstrumentSans-Bold.woff2") format("woff2"),
		url("/fonts/InstrumentSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Instrument Sans";
	src: local("Instrument Sans Bold Italic"), local("InstrumentSans-BoldItalic"),
		url("/fonts/InstrumentSans-BoldItalic.woff2") format("woff2"),
		url("/fonts/InstrumentSans-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/***********/
/* Resets */
/*********/

* {
	box-sizing: border-box;
	font-family: "Instrument Sans", sans-serif;
	padding: 0;
	margin: 0;
}

// 1. Correct the line height in all browsers.
// 2. Prevent adjustments of font size after orientation changes in iOS.
html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	scroll-behavior: smooth;
}

title {
	text-transform: capitalize;
}

// Render the `main` element consistently in IE with display: block.
main {
	display: block;
}

/************/
/* Globals */
/**********/

h1 {
	font-size: 52px;
	font-size: clamp(1rem, 4vw + 1rem, 3.25rem);
	font-weight: 500;
	text-wrap: balance;
}

h2 {
	font-size: 36px;
	font-size: clamp(1.875rem, 2vw + 1rem, 2.25rem);
	font-weight: 500;
	text-wrap: balance;
}

h3 {
	font-size: 24px;
	font-size: clamp(1.125rem, 1vw + 1rem, 1.5rem);
	font-weight: 500;
	text-wrap: balance;
}

h1,
h2,
h3 {
	color: $black;
	line-height: 1.15;

	@media screen and (max-width: 431px) {
		text-wrap: pretty;
	}
}

h4,
h5,
h6 {
	font-size: 16px;
	font-weight: 600;
	color: $dark-blue;
	line-height: 1.15;
}

p,
a,
span {
	font-size: 20px;
	font-size: clamp(1.125rem, 1vw + 1rem, 1.25rem);
	color: $gray;
	line-height: 1.5;
	text-wrap: pretty;
}

a {
	text-decoration: none;
}

main > section {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: clamp(80px, 10vw, 140px);
	padding-bottom: 0;
	@include respond-to("mobile-landscape", max) {
		padding-left: 15px;
		padding-right: 15px;
	}

	&> .container {
		max-width: $max-width;
		margin: 0 auto;
	}
}

img {
	display: block;
}

/* Buttons */

.btn {
	@apply font-bold py-2 px-4 rounded;
}

.btn-blue {
	@apply bg-blue-500 text-white;
}

.btn-blue:hover {
	@apply bg-blue-700;
}

/*Loading states*/

.loading {
	min-height: 100vh;
	min-height: 100svh;
	transition: opacity 1s linear;
	opacity: 0;
}

.loaded {
	opacity: 1;
}
